./TextEdit.sdf
./Debug
./ipch
./TextEdit/Debug
./TextEdit/ReadMe.txt
./TextEdit/small.ico
./TextEdit/TextEdit.aps
./TextEdit/TextEdit.ico
./TextEdit/TextEdit.vcxproj
./TextEdit/TextEdit.vcxproj.filters

